.numbers-grid {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.numbers-grid h3 {
  font-family: 'Playfair Display SC';
  font-size: 2rem;
  margin-bottom: .5rem;
}

.numbers-grid span {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600;
  font-size: 1.5rem;
  color: #ee5544;
}

@media (max-width: 700px) {
  .numbers-grid {
    grid-column: 1;
  }

  .numbers-grid h3 {
    font-size: 1.5rem;
  }
}